<div id="nickname" data-num="<%= @pool.id %>"></div>

<div class="row">
    <div id="add-users" class="col-md-2 rounded m-2">
        <h3 class="text-center">User List</h3>
    </div>
    <div id="add-message" class="col-md-7 rounded m-2"></div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-2 m-2"></div>
    <input id="btn" class="form-control mt-3 col-md-7 m-2" type="text" data-behavior="message_speaker" data-user_id=<%= @pool.id %> data-user=<%= @nickname %>>
    <div class="col-md-3"></div>
</div>

