<p id="nickname" data-num="<%= @pool.id %>"><%= @nickname %></p>

<div id="add-message" class="row　overflow-auto">
    
</div>

<input type="text" data-behavior="message_speaker" data-user_id=<%= @pool.id %> data-user=<%= @nickname %>>

